<header class="site-header" role="banner">
  <div class="container">
    <a class="brand" href="{{ .Site.BaseURL }}">
  <img class="brand-logo" src="/img/logo.svg" alt="" aria-hidden="true" width="32" height="32" decoding="async">
  <span class="brand-text">{{ .Site.Title }}</span>
</a>

    {{ $menu := or .Site.Menus.main (slice
      (dict "Name" "Wiki" "URL" "/wiki/")
      (dict "Name" "SOPs & Templates" "URL" "/sops/")
      (dict "Name" "Alerts" "URL" "/alerts/")
      (dict "Name" "Tools" "URL" "/tools/")
      (dict "Name" "About" "URL" "/about/")
      (dict "Name" "Contact" "URL" "/contact/")
      (dict "Name" "Blog" "URL" "/blog/")
    ) }}
    <nav class="nav" role="navigation" aria-label="Primary">
      <ul>
        {{ range $menu }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>


