<header class="site-header" role="banner">
  <div class="container">
    <a class="brand" href="{{ .Site.BaseURL }}">
      {{ if (fileExists "site/static/img/brand/wordmark.svg") }}
        <img src="/img/brand/wordmark.svg" alt="{{ .Site.Title }}" decoding="async" loading="eager">
      {{ else if (fileExists "site/static/img/brand/wordmark.png") }}
        <img src="/img/brand/wordmark.png" alt="{{ .Site.Title }}" width="180" height="36" decoding="async" loading="eager">
      {{ else }}
        <span class="brand-text">{{ .Site.Title }}</span>
      {{ end }}
    </a>

    {{ $menu := or .Site.Menus.main (slice
      (dict "Name" "Wiki" "URL" "/wiki/")
      (dict "Name" "SOPs & Templates" "URL" "/sops/")
      (dict "Name" "Alerts" "URL" "/alerts/")
      (dict "Name" "Tools" "URL" "/tools/")
      (dict "Name" "About" "URL" "/about/")
      (dict "Name" "Contact" "URL" "/contact/")
      (dict "Name" "Blog" "URL" "/blog/")
    ) }}
    <nav class="nav" role="navigation" aria-label="Primary">
      <ul>
        {{ range $menu }}
          <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
