// BPC design tokens

:root{
  --bpc-forest-600: #185040; /* rgb(24,80,64)  */
  --bpc-forest-700: #185038; /* rgb(24,80,56)  */
  --bpc-forest-800: #105038; /* rgb(16,80,56)  */
  --bpc-cream-50:   #F8F8F8; /* light neutral */
}
